<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name=description content="101seasons.org">
        <meta name=keywords content="">

        <title>101Seasons.org</title>

        <link rel=apple-touch-icon sizes=180x180 href=/static/images/favicons/apple-touch-icon.png>
        <link rel=icon type=image/png sizes=32x32 href=/static/images/favicons/favicon-32x32.png>
        <link rel=icon type=image/png sizes=16x16 href=/static/images/favicons/favicon-16x16.png>
        <link rel=manifest href=/static/images/favicons/site.webmanifest>
        <link rel=mask-icon href=/static/images/favicons/safari-pinned-tab.svg color=#232323>
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#ffffff>
        <link href=/static/css/theme.min.css rel=stylesheet>
        <link href=/static/css/custom.css rel=stylesheet>
    </head>
    <body>
        <header class="navbar navbar-expand-lg align-items-center w-100 position-absolute z-index-10 navbar-light">
            <div class="position-relative container-fluid">
                <a href=#content class="skip-to-main sr-only-focusable" role=button>Skip to main content</a>
                <a class="navbar-brand mr-auto logo_margin" href="/" aria-label="Click to go back to Homepage">
                    <svg width=160 height=50 class=logo xmlns=http://www.w3.org/2000/svg viewBox="0 0 701 217">
                        <img src="/static/images/logo.svg">
                    </svg>
                </a>
            </div>
        </header>
        <main>
            <section id=content>
                <div class="container-fluid px-0">
                    <div class="row vh-100">
                        <div class="bg-image bg-cover" style="background-image: url(/static/images/main1.jpg);"></div>
                        <div class="position-absolute col-md-8 col-lg-6 col-xl-4 center ml-lg-n9">
                            <div class="square d-flex w-100 mt-5">
                                <div class="square-inner bg-primary text-white mx-auto p-4 p-lg-6 d-flex flex-column justify-content-center">
                                    <h1>What on earth are you doing here?</h1>
                                    <p class=mb-6>Sorry, this page does not exist</p>
                                    <a href=javascript:history.go(-1) class="btn btn-light text-uppercase px-4 px-md-6 d-inline-flex align-items-center align-self-start" title="Go back">
                                        Go back
                                        <svg width=16 height=16 class=ml-2 xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                            <title>keyboard-arrow-return</title>
                                            <path d=M16.147,1.952H12.238a1.5,1.5,0,0,0,0,3h3.909a4.852,4.852,0,1,1,0,9.7H7.137a.25.25,0,0,1-.25-.25V11.27a1,1,0,0,0-1.707-.707L.293,15.449a1,1,0,0,0,0,1.414L5.18,21.75a1,1,0,0,0,1.707-.707V17.906a.25.25,0,0,1,.25-.25h9.01a7.852,7.852,0,1,0,0-15.7Z />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
