<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name=description content="101seasons.org">
        <meta name=keywords content="">

        <title>101Seasons.org</title>

        <link rel=apple-touch-icon sizes=180x180 href=/static/images/favicons/apple-touch-icon.png>
        <link rel=icon type=image/png sizes=32x32 href=/static/images/favicons/favicon-32x32.png>
        <link rel=icon type=image/png sizes=16x16 href=/static/images/favicons/favicon-16x16.png>
        <link rel=manifest href=/static/images/favicons/site.webmanifest>
        <link rel=mask-icon href=/static/images/favicons/safari-pinned-tab.svg color=#232323>
        <meta name=msapplication-TileColor content=#ffffff>
        <meta name=theme-color content=#ffffff>
        <link href=/static/css/theme.min.css rel=stylesheet>
        <link href=/static/css/custom.css rel=stylesheet>
    </head>
    <body>
        <header class="navbar navbar-expand-lg align-items-center w-100 position-absolute z-index-10 navbar-dark">
            <div class="position-relative container-fluid">
                <a href=#content class="skip-to-main sr-only-focusable" role=button>Skip to main content</a>

                <a class="navbar-brand mr-auto logo_margin" href="/" aria-label="Click to go back to Homepage">
                    <svg width=190 height=50 class=logo xmlns=http://www.w3.org/2000/svg viewBox="0 0 701 217">
                        <img src="/static/images/logo.svg">
                    </svg>
                </a>

                <button class="navbar-toggler ml-auto" type=button data-toggle=collapse data-target=#navbarCollapse aria-expanded=false aria-label="Toggle navigation"><span class=navbar-toggler-icon></span></button>
                <div class="collapse navbar-collapse" id=navbarCollapse>
                    <ul class="navbar-nav ml-auto">
                        <li class=nav-item><a class=nav-link href="/">Home</a></li>
                        <li class=nav-item><a class=nav-link href="/live">Live</a></li>
                        <li class=nav-item><a class=nav-link href="/contact">Contact</a></li>
                    </ul>
                    <a class="btn btn-sm btn-secondary text-uppercase mt-3 mt-lg-0 ml-lg-4 d-block d-lg-inline-block" href=/ru >RU</a>
                </div>
            </div>
        </header>

        {% block content %}{% endblock content %}

        <footer class="bg-primary text-white small">
            <div class="pt-6 pb-4 pt-lg-7 pb-lg-6">
                <div class=container>
                    <div class="row justify-content-md-between">
                        <div class="col-md-5 col-lg-4 d-flex flex-column justify-content-between">

                            <img src="/static/images/logo.svg">

                            <!--
                                <svg width=137 height=42 class="mx-auto mx-md-0 no_top" xmlns=http://www.w3.org/2000/svg viewBox="0 0 701 217">
                                <img width=137 height=42  src="/static/images/logo.svg">
                                </svg>

                                <div class="mt-4 mb-3 mt-lg-5 pt-lg-2 mx-auto mx-md-0">
                                <a href=# class="text-reset text-decoration-none">
                                <svg width=15 height=15 class=mx-1 xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                <title>social-media-facebook</title>
                                <path d=M18.14,7.17A.5.5,0,0,0,17.77,7H14V5.59c0-.28.06-.6.51-.6h3a.44.44,0,0,0,.35-.15A.5.5,0,0,0,18,4.5V.5a.5.5,0,0,0-.5-.5H13.17C8.37,0,8,4.1,8,5.35V7H5.5a.5.5,0,0,0-.5.5v4a.5.5,0,0,0,.5.5H8V23.5a.5.5,0,0,0,.5.5h5a.5.5,0,0,0,.5-.5V12h3.35a.5.5,0,0,0,.5-.45l.42-4A.5.5,0,0,0,18.14,7.17Z />
                                </svg>
                                </a>
                                <a href=# class="text-white text-decoration-none">
                                <svg width=15 height=15 class=mx-1 xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                <title>social-pinterest</title>
                                <path d=M7.13,22.36a.4.4,0,0,0,.29.33h.11a.45.45,0,0,0,.36-.2,12.8,12.8,0,0,0,2.19-4c.09-.33.39-1.52.61-2.37a.25.25,0,0,1,.4-.13,4.12,4.12,0,0,0,2.53.88c3.9,0,6.73-3.57,6.73-8.48,0-3.51-2.94-7.13-7.86-7.13C7,1.29,3.65,5.23,3.65,9c0,2.35,1,4.15,2.62,4.82a.66.66,0,0,0,.94-.47l.24-1a.82.82,0,0,0-.22-.9,3.25,3.25,0,0,1-.73-2.2,5.47,5.47,0,0,1,5.67-5.5c2.93,0,4.75,1.67,4.75,4.36,0,3.5-1.53,6.14-3.56,6.14A1.73,1.73,0,0,1,12,13.7a1.58,1.58,0,0,1-.28-1.38c.13-.54.3-1.1.47-1.65A10.19,10.19,0,0,0,12.77,8,1.84,1.84,0,0,0,10.89,6C9.45,6,8.33,7.43,8.33,9.31a5.13,5.13,0,0,0,.32,1.79.5.5,0,0,1,0,.29L7.17,17.7A13.38,13.38,0,0,0,7.13,22.36Z />
                                </svg>
                                </a>
                                <a href=# class="text-white text-decoration-none">
                                <svg width=15 height=15 class=mx-1 xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                <title>designer-community-dribbble</title>
                                <path d=M24,12A12,12,0,0,0,6.28,1.45l-.05,0A12.09,12.09,0,0,0,0,12a11.94,11.94,0,0,0,2.71,7.58l0,0h0A12,12,0,0,0,24,12ZM20.07,6.12A9.93,9.93,0,0,1,22,11.65c-.88-.09-1.82-.14-2.62-.14a24.12,24.12,0,0,0-4.17.38c-.27-.69-.56-1.37-.89-2A23.88,23.88,0,0,0,20.07,6.12ZM18.74,4.64a21.88,21.88,0,0,1-5.42,3.47A23.94,23.94,0,0,0,8.65,2.59a9.9,9.9,0,0,1,10.09,2ZM6.68,3.55a22,22,0,0,1,4.75,5.3A22,22,0,0,1,4.35,10c-.71,0-1.42,0-2.13-.11A10,10,0,0,1,6.68,3.55ZM2,11.92c.78.08,1.56.13,2.34.13a23.93,23.93,0,0,0,8.09-1.42q.43.84.78,1.71a23.78,23.78,0,0,0-9.59,5.11A9.9,9.9,0,0,1,2,11.92ZM4.87,19a21.79,21.79,0,0,1,9-4.78,22.1,22.1,0,0,1,.94,6.39c0,.33,0,.66,0,1A9.94,9.94,0,0,1,4.87,19Zm12,1.76s0-.1,0-.15a24.13,24.13,0,0,0-1-6.8,22.1,22.1,0,0,1,3.5-.3c.77,0,1.66.05,2.49.14A10,10,0,0,1,16.82,20.76Z />
                                </svg>
                                </a>
                                </div>
                            -->
                        </div>
                        <div class="col-md-7 col-lg-6 mt-5 mt-md-0">
                            <div class=row>
                                <!--
                                    <div class="col-6 col-md-4 mb-4 mb-md-0">
                                    <h3 class="h6 text-uppercase mb-3">Services</h3>
                                    <ul class=list-unstyled>
                                    <li class=mb-1><a href=# class=text-reset>UI Kit</a></li>
                                    <li class=mb-1><a href=# class=text-reset>Documentation</a></li>
                                    <li class=mb-1><a href=# class=text-reset>Page builder</a></li>
                                    </ul>
                                    </div>
                                -->
                                <div class="col-6 col-md-6 mb-6 mb-md-0">
                                    <h3 class="h6 text-uppercase mb-3">Social</h3>
                                    <ul class=list-unstyled>
                                        <li class=mb-1><a target="_blank" href="https://facebook.com/101remoteseasons/" class=text-reset>Facebook</a></li>
                                        <li class=mb-1><a target="_blank" href="https://youtube.com/channel/UCwCq1E2hvMklGx8-S47Ga9w" class=text-reset>YouTube</a></li>
                                        <li class=mb-1><a target="_blank" href="https://instagram.com/101remote?igshid=xdkyr0jo4gmj" class=text-reset>Instagram</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-md-6">
                                    <h3 class="h6 text-uppercase mb-3">Contacts</h3>
                                    <ul class=list-unstyled>
                                        <li class=mb-1>101remoteseasons@gmail.com</li>
                                        <li class=mb-1>peter@createdigitalmedia.net</li>
                                        <li class=mb-1>cosmopolya@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top border-gray py-3">
                <div class=container>
                    <div class="row justify-content-between small">
                        <div class=col-auto>
                            <!--
                                <a href=# class=text-reset>Privacy Policy</a> | <a href=# class=text-reset>Cookie Policy</a>
                            -->
                        </div>
                        <div class=col-auto>
                            <a data-scroll href=# class="d-inline-block text-reset" title="Up to the top">
                                <svg width=20 height=20 xmlns=http://www.w3.org/2000/svg viewBox="0 0 24 24">
                                    <title>arrow-button-up-1</title>
                                    <path d=M12,10.416a2.643,2.643,0,0,1,1.875.775l9.541,9.541a1.768,1.768,0,0,1-2.5,2.5l-8.739-8.739a.25.25,0,0,0-.354,0L3.084,23.232a1.768,1.768,0,0,1-2.5-2.5l9.541-9.541A2.643,2.643,0,0,1,12,10.416Z />
                                    <path d=M12,.25a2.643,2.643,0,0,1,1.875.775l9.541,9.541a1.768,1.768,0,0,1-2.5,2.5L12.177,4.327a.25.25,0,0,0-.354,0L3.084,13.066a1.768,1.768,0,0,1-2.5-2.5l9.541-9.541A2.643,2.643,0,0,1,12,.25Z />
                                </svg>
                            </a>
                        </div>
                        <div class=col-auto>
                            <!--
                                <span>&copy; Square, 2020 Webinning Ltd.</span>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class=pswp tabindex=-1 role=dialog aria-hidden=true>
            <div class=pswp__bg></div>
            <div class=pswp__scroll-wrap>
                <div class=pswp__container>
                    <div class=pswp__item></div>
                    <div class=pswp__item></div>
                    <div class=pswp__item></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class=pswp__top-bar>
                        <div class=pswp__counter></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"><span class=sr-only>Close</span></button> <button class="pswp__button pswp__button--share"><span class=sr-only>Share</span></button> <button class="pswp__button pswp__button--fs"><span class=sr-only>Toggle fullscreen</span></button> <button class="pswp__button pswp__button--zoom"><span class=sr-only>Zoom in/out</span></button> <button class="pswp__button pswp__button--playpause"><span class=sr-only>Play/pause</span></button>
                        <div class=pswp__preloader>
                            <div class=pswp__preloader__icn>
                                <div class=pswp__preloader__cut>
                                    <div class=pswp__preloader__donut></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class=pswp__share-tooltip></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"><span class=sr-only>Previous</span></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"><span class=sr-only>Next</span></button>
                    <div class=pswp__caption>
                        <div class=pswp__caption__center></div>
                    </div>
                </div>
            </div>
        </div>
        <script src=/static/js/theme.core.min.js></script>
        <script src=/static/js/theme.min.js></script>
    </body>
</html>
